body{
    background-color: #141414;
    overflow-x: hidden; 
}

.netflix-padding{
    padding-left: 57px;
    padding-right: 57px;
}

.netflix-navbar{
    z-index: 1000;
    transition: background 0.2s linear;
    position: fixed;
    background-color: #141414;
    width: 100%;
    top: 0;
}

.navbar-logo img{
     width: 100px;
}

.netflix-row{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.netflix-dropdown-box{
    display: none;
}

.netflix-dropdown{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 9px !important;
}

.netflix-dropdown-box .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.784);
    font-size: 9px !important;
    color: #fff !important;
    margin-left: -80px;
    border-top: 3px solid #fff;
    margin-top: 30px;
}

.netflix-dropdown-box .dropdown-menu .dropdown-item{
     color: rgba(255, 255, 255, 0.646);
     text-align: center;
     width: 250px;
     font-size: 15px;
     padding: 10px 20px;
}

.netflix-dropdown-box .dropdown-menu .dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.133);
    color: #fff;
}

i{
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    margin-top: 5px;
}

.bi-bell-fill{
    margin-top: 0px;
}

.netflix-profile img{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 0px;
    cursor: pointer;
}


.netflix-nav button{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.623);
    border: none;
    font-size: 13px;
}

.netflix-nav button:hover{
    color: white;
}

.slider{
    position: absolute;
    z-index: 500;
    top: 100px;
    margin-right: 10px;
}
.slider b{
    font-size: 2rem;
    margin-left: 30px;
}
.card{
    width: 250px;
    background-color: #141414;
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 5px;
    position: relative;
    cursor: pointer;
}


.card:hover{
    transform: scaleX(1.4) scaleY(1.4);
    z-index: 10;
}

.progress{
    background-color: #fff;
    height: 3px;
    width: 100%;
    margin-top: 7px;
}

.progress-bar{
    width: 70%;
    height: 100%;
    background-color: red;
}
.netflix-progress span{
    margin-left:43%;
    font-size: xx-small;
    color: #fff;
}
.card-body{
    display: none;
    height: 0px; 
    padding: 5px 10px;
    position: absolute;
    background-color: #141414;
    top: 130px;
    width: 100%;
}


.card-icon{
    color: #fff;
    padding: 0px !important;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.card:hover > .card-body{
    display: block;
    height: 100% !important; 
}

.netflix-card-text{
    font-size: 12px ;
}

.footer{
    margin-top: 1000px;
    margin-bottom : 100px;
    margin-left: 170px;
}


ul .creadits{
    list-style: none;
    font-size: 15px ;
    color: rgba(255, 255, 255, 0.367);
    font-weight: 100;
}

.footer ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.367);
}


.service-btn{
    background-color: transparent;
     margin-left: 30px;
      color: rgba(255, 255, 255, 0.367);
      border: 1px solid rgba(255, 255, 255, 0.367);
      font-size: 15px;
      font-weight: 100;
}

.copy-right{
    font-size: 15px;
      font-weight: 200;
      color: rgb(249, 14, 14);
      margin-left: 28px;
}

.netflix-profile .dropdown {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 10px !important;
}

.netflix-profile .dropdown .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.784);
    font-size: 9px !important;
    color: #fff !important;
    margin-left: -80px;
    border-top: 3px solid red;
    margin-top: 3px;
}

.netflix-profile .dropdown .dropdown-menu .dropdown-item{
    color: rgba(255, 255, 255, 0.646);
    width: 180px;
    font-size: 18px;
    padding: 7px 20px;
}
.netflix-profile .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.133);
    color: #fff !important;
    cursor: pointer;

}
.netflix-profile .dropdown-content-netflix {
    background-color: transparent;
    color: #fff;
    border: none;
}



.netflix-profile .dropdown:hover .dropdown-content-netflix {
    display: block;
}

.dropdown-divider{
    background-color: #fff;
}

.pre-tag{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 20px;

}
.pre-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-decoration: none;
    color:white;

}

.center__1{
    text-align: center ;
}
.box{
    height: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.box:hover input{
    width: 200px;
    background-color: #fff;
    border-radius: 2px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    margin-right: 100;
}