*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: rgba(0, 0, 0, 0.5) url('Images/netflix.jpg');
    background-blend-mode: darken;
}

.logo img{
    width: 12%;
    margin-left: 30px;
}

.container{
    position: absolute;
    margin-left: 36%;
    margin-top: 1%;
    width: 440px;
    height: 590px;
    background-color: #000;
}

.container h1{
    color: #fff;
    margin-top: 60px;
    margin-left: 50px;
}

input{
    margin-left: 50px;
    margin-top: 20px;
    width: 320px;
    height: 47px;
    background-color: #333;
    border-radius: 3px;
    border: none;
    font-size: 20px;
}
input[type=email]{
    color: #fff;
}
input[type=password]{
    color: #fff;
}

input::placeholder{
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;
}

input[type=submit]{
    width: 320px;
    height: 45px;
    background-color: red;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}

input[type=checkbox]{
    width: 25px;
    height: 18px;
    border-radius: 5px;
}

label{
    color: rgb(125, 119, 119);
}

.form a{
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: rgb(125, 119, 119);
    text-decoration: none;
}

.content{
    position: absolute;
    margin-top: 80px;
    font-size: 9px;
    margin-left: 55px;
}

.content h2{
    color: rgb(125, 119, 119);
}

.container a{
    color: #fff;
    text-decoration: none;
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.input-box input:focus~label, .input-box input:valid~label{
    top: -5px;
}

.remember-forgot{
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration:underline;
}
@media (max-width: 1024px) {
    .container {
        width: 70%;
        margin-left: 15%;
        margin-top: 5%;
    }

    .logo img {
        width: 15%;
    }

    input {
        width: 270px;
        font-size: 18px;
    }

    input[type=submit] {
        width: 270px;
    }

    .content {
        font-size: 10px;
        margin-left: 50px;
    }

    .container h1 {
        margin-left: 30px;
    }

    .form a {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .logo img {
        width: 20%;
        margin-left: 10px;
    }

    input {
        width: 90%;
        font-size: 16px;
        margin-left: 5%;
    }

    input[type=submit] {
        width: 90%;
    }

    .container h1 {
        margin-left: 10px;
    }

    .content {
        font-size: 12px;
        margin-left: 10px;
    }

    .form a {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }

    .logo img {
        width: 30%;
        margin-left: 0;
    }

    input {
        width: 90%;
        font-size: 14px;
    }

    input[type=submit] {
        width: 90%;
    }

    .container h1 {
        margin-left: 5%;
        font-size: 1.5rem;
    }

    .content {
        font-size: 14px;
        margin-left: 5%;
    }

    .form a {
        margin-right: 5px;
        font-size: 12px;
    }
}